*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 230, 230);

}
h1{
    text-align: center;
    font-size: 3rem;
}
header{
    display: flex;
    flex-flow:  row wrap;
    width: 90%;
    margin: auto auto;
    align-items: center;
}
input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add{
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin:auto auto;
    padding-top: 40px;
   
}

.item{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
}
.item.clicado{
background: #d4f6d9;
}
.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;

}
.item-icone{
    flex: 10%;
    text-align: center;
    font-size: 2rem;
    
}
.item-nome{
    flex: 65%;
    font-size: 20px;
    font-weight: bold;


}
.item-botao{
    flex: 25%;

}

.delete{
    background-color: red;
    color: wheat;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.mdi-check-circle{
    color: green;

}

